.photoWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

.image {
  width: 229px;
  height: 142px;
  border-radius: 10px;
}

@media (max-width: 498px) {
  .image {
    width: 280px;
    height: 171px;
  }
}
