.modalActive {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  width: 619px;
  height: 400px;
  background: #ffffff;
  display: flex;
  position: relative;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 5px;
}

.modalContentImage,
.modalContentForm {
  flex-grow: 1;
  max-width: 331px;
}

.modalContentImage img {
  width: 331px;
  height: 205px;
  border-radius: 5px;
}

.modalContentForm button {
  background: #4997d0;
  border-radius: 6px;
  color: white;
  border: none;
  max-width: 331px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    background: #1576bb;
  }
}

.modalContentForm form {
  display: flex;
  flex-direction: column;
}

.modalContentForm form input {
  outline: none;
  padding: 2px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 361px;
  height: 30px;

  &:focus {
    border: 1px solid #4997d0;
  }
}

.comments {
  flex-grow: 1;
  width: 30%;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 30px;
  font-size: 13px;
  line-height: 15px;
}

.commentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px 10px;
  flex-wrap: wrap;
}

.comment {
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.commentAuthor {
  font-size: 20px;
  margin-bottom: 15px;
}

.commentDate {
  color: #999999;
  font-size: 14px;
}

.commentDate, .commentAuthor {
  display: flex;
  align-items: center;
  gap: 3px;
}

.commentText {
  font-size: 16px;
  margin-bottom: 10px;
}

.closeButton {
  position: absolute;
  top: 21px;
  right: 21px;
  width: 18px;
  height: 18px;
  background: url('../../../public/img/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border: none;
  cursor: pointer;
}

@media (max-width: 612px) {
  .modalContent {
    width: 100vw;
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0;
  }

  .modalContentForm,
  .modalContentImage,
  .comments {
    flex-grow: 0;
  }

  .modalContentImage {
    width: 100%;
    max-width: 100%;
  }

  .modalContentImage img {
    width: 100%;
    height: auto;
  }

  .comments {
    margin: 12px 0 0 22px;
  }

  .modalContentForm {
    margin: 0 22px;
    max-width: 100%;
  }

  .modalContentForm form input {
    max-width: 100%;
  }

  .modalContentForm button {
    max-width: 100%;
  }
}
