.modalActive {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  width: 619px;
  height: 400px;
  padding: 20px;
  border-radius: 5px;
  background: #ffffff;
}

.modalContentImage,
.modalContentForm {
  flex-grow: 1;
  max-width: 331px;
}

.modalContentImage {
  width: 331px;
  height: 205px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modalContentForm button {
  background: #008ef4;
  border-radius: 6px;
  color: white;
  border: none;
  max-width: 331px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    background: #0b6eb4;
  }
}

.modalContentForm {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 0;
}

.modalContentForm input {
  outline: none;
  padding: 2px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 361px;
  height: 30px;

  &:focus {
    border: 1px solid #008ef4;
  }
}

.comments {
  flex-grow: 1;
  width: 30%;
  font-size: 13px;
  line-height: 15px;
}

.commentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px 10px;
  flex-wrap: wrap;
}

.comment {
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.commentAuthor {
  font-size: 20px;
  margin-bottom: 15px;
}

.commentDate {
  color: #999999;
  font-size: 14px;
}

.commentDate,
.commentAuthor {
  display: flex;
  align-items: center;
  gap: 3px;
}

.commentText {
  font-size: 16px;
  margin-bottom: 10px;
}

.closeButton {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  background: #008ef4;
  border: 1px solid #008ef4;
  transition: all 0.5s ease;
  outline: none;
  margin-left: auto;
  cursor: pointer;

  &:hover {
    color: #008ef4;
    background: white;
  }
}

@media (max-width: 768px) {
  .modalContent {
    width: 100vw;
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 30px;
    overflow-y: scroll;
  }

  .comments {
    width: 100%;
    margin: 0;
  }

  .closeButton {
    top: 40px;
    right: 6px;
  }

  .modalContentForm,
  .modalContentImage,
  .comments {
    flex-grow: 0;
  }

  .modalContentImage {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .modalContentImage {
    width: 100%;
    height: auto;
  }

  .modalContentForm {
    margin: 30px 0px;
    max-width: 100%;
  }

  .modalContentForm form input {
    max-width: 100%;
  }

  .modalContentForm button {
    max-width: 100%;
  }
}
